body{
  background-color: #222;
  color: #ccc;
}
.announcement{
  color: #ccc;
  font-weight: 400;
  font-size: 40px;
}
.info{
  font-size: 20px;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px;
}
.screen{
  background-color: black;
  width: 800px;
  height: 600px;
  margin-top: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen > * {
  margin: 5px;
}
.retryButton, .darknessButton{

}
.gridBoard{
  background-color: black;
  width: 800px;
  height: 600px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(60, 1fr);
}
.gridPlayer, .gridHealth, .gridEnemy, .gridWeapon, .gridExit{
  z-index: 5;
}
.player{
  background-color: blue;
}
.gridPlayer{
  background-color: blue;
}
.gridTile{
  background-color: #ccc;
  z-index: 1;
}
.gridHealth, .health{
  background-color: green;
}
.gridEnemy, .enemy{
  background-color: red;
}
.gridWeapon, .weapon{
  background-color: yellow;
}
.gridExit, .exit{
  background-color: purple;
}
