body{
  background-color: #222;
  color: #ccc;
}
.info{
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}
.board{
  background-color: black;
  width: 800px;
  height: 600px;
  position: relative;
  z-index: -2;
}
.test{
  background-color: white;
  grid-column: 0 / 1;
  grid-row: 0 / 1;
  z-index: 10;
}
.gridBoard{
  background-color: black;
  width: 800px;
  height: 600px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(60, 1fr);
}
.center{
  width: 0px;
  height: 0px;
  position: absolute;
  top: 300px;
  left: 400px;
}
/*
.player, .health, .enemy, .weapon, .exit{
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 1;
}
*/
.gridPlayer, .gridHealth, .gridEnemy, .gridWeapon, .gridExit{
  z-index: 5;
}
.player{
  background-color: blue;
}
.gridPlayer{
  background-color: blue;
}
.tile{
  background-color: #ccc;
  z-index: 1;
}
.gridHealth, .health{
  background-color: green;
}
.gridEnemy, .enemy{
  background-color: red;
}
.gridWeapon, .weapon{
  background-color: yellow;
}
.gridExit, .exit{
  background-color: purple;
}
